- # encoding: utf-8
- @title= @album.title

%h2= @album.title
#photos-list
	- @album.photos.each_with_index do |photo, index|
		=link_to image_tag(photo.image, :alt => photo.title), photo.image, :title => photo.title, :class => 'fancybox image', :rel => 'album'
